body {
    background-color: #1e2020;
}

#title {
    color: rgb(211, 211, 211);
}

#start-logation {
    color: rgb(59, 59, 255);
    text-decoration: underline;
    background-color: #00000000;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

#start-logation:hover {
    cursor: pointer;
    color: rgb(88, 88, 255);
};